<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/assests/mainPage.css"> -->
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="userPage1.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Destination</title>

    <style>
        html,
        body,
        .my-map,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .my-map {
            width: 80%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.18/"></script>

    <script>
        require(["esri/widgets/Track", "esri/views/MapView", "esri/Map"], function (Track, MapView, Map) {
            var map = new Map({
                basemap: "topo-vector"
            });

            var view = new MapView({
                map: map,
                container: "viewDiv"
            });

            // Create an instance of the Track widget
            // and add it to the view's UI
            var track = new Track({
                view: view
            });
            view.ui.add(track, "top-left");

            // The sample will start tracking your location
            // once the view becomes ready
            view.when(function () {
                track.start();
            });
        });
    </script>

</head>

<body>
    <div id="wrapper" class="animate">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Destination</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Dashboard"><i class="fas fa-cube"></i> Dashboard <i
                                class="fas fa-cube shortmenu animate"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" title=""><i
                                class="fas fa-bus"></i> Trips <i class="fas fa-bus shortmenu animate"></i></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter" href="#">Create new trip</a>
                        </div>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Create A New Trip</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/post-feedback">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Title</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="Enter trip name">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Bus Fare</label>
                                                <input type="number" class="form-control" id="busfare"
                                                    aria-describedby="emailHelp" placeholder="Enter amount">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Time of Departure and Arrival</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="Enter trip name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Add Trip</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title=""><i class="fas fa-truck"></i> Deliveries <i
                                class="fas fa-truck shortmenu animate"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#viewDiv" title="Trips in progress"><i class="fas fa-rocket"></i> On
                            going trips <i class="fas fa-rocket shortmenu animate"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto d-md-flex">

                    <li class="nav-item">
                        <a class="nav-link" href="mainPage.html"><i class="fas fa-key"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" id="tripDetails">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kampala to Nairobi</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Departure: 11:00AM Duration: 12 hrs</h6>
                            <p class="card-text">Due to the covid pandemic Passengers are reminded to carry there of the
                                trip</p>
                            <a href="https://bootsnipp.com/pradeep330" class="card-link">Edit</a>
                            <a href="http://websitedesigntamilnadu.com" class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kampala to Hoima</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Departure: 11:00AM Duration: 6 hrs </h6>
                            <p class="card-text">Due to the covid pandemic Passengers are reminded to carry there of the
                                trip</p>
                            <a href="https://bootsnipp.com/pradeep330" class="card-link">Edit</a>
                            <a href="http://websitedesigntamilnadu.com" class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Passenger List</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Passenger List</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="card my-map mx-auto">
        <div id="viewDiv"></div>
    </div>


    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script>
        

    </script>
</body>

</html>