<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>Destination</title>
    <style>
        body {
    background:url(https://i.ibb.co/yhQnK7Y/Blue-sky.jpg) no-repeat center center fixed;
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
       background-repeat: no-repeat;
       background-size:cover;
    }

    .container {
        margin-top: 50px;
    }

    </style>
</head>
<body>
    <div class="container w-75 mh-50" >
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">time travel</h1>
              <h2>Service is only available to premium members</h2>
              <h2 class="lead">please upgrade your subscription and traverse into the past or the future</h2> 
            </div>
          </div>
        <h1></h1>
        
    </div>
    
</body>
</html>