<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/assests/mainPage.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <title>Destination</title>
</head>

<body>
  <!-- page content -->

  <!-- nav-bar -->
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Destination</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav">
        <li class="nav-item">
          <a class="nav-link" href="#services" title="Dashboard"><i class="fas fa-cube"></i> Services<i
              class="fas fa-cube shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us" title="Cart"><i class="fas fa-cart-plus"></i> About Us <i
              class="fas fa-cart-plus shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#the-contact-form" title="Comment"><i class="fas fa-comment"></i> Contact Us <i
              class="fas fa-comment shortmenu animate"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Sign In</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="email-name" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" id="email-name">
                    </div>
                    <div class="form-group">
                      <label for="password-text" class="col-form-label">Password:</label>
                      <input type="text" class="form-control" id="password-name">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a class="btn btn-primary" onclick="getInfo()" id="login">Sign in</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="page-content">
    <div class="page-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <h1 class="display-4">Success!</h1>
              <p class="lead mb-0">Please Log In in using the sign in button</p>
            </div>
          </div>
      
      <!-- services -->
      <div class="how-section1" id="services">
        <div class="row">
          <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid"
              alt="" />
          </div>
          <div class="col-md-6">
            <h4>Book bus trips online</h4>
            <h4 class="subheading">Get to travel all around East Africa at the cheapest prices</h4>
            <p class="text-muted">We take to all the popular spots in Uganda and East Africa while you enjoy our safe,
              fast and cheap services</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Deliver packages</h4>
            <h4 class="subheading">Packages deliveries are part of your services as we take care of the transportation
              needs of ours customers</h4>
            <p class="text-muted">Our company uses delivery trucks to send packages to different pick up stations as
              desired by the customer</p>
          </div>
          <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid"
              alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid"
              alt="" />
          </div>
          <div class="col-md-6">
            <h4>Pay from the comfort of your home</h4>
            <h4 class="subheading">For each of our services payment is only a few clicks away</h4>
            <p class="text-muted">You can pay vai MTN MOMO or by PayPal in from the confort of your home and a digital
              reciept will be sent to your device as proof of payment</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Journey are always better with Destination</h4>
            <h4 class="subheading">In pursuit to provide the best servives to our costumers we all ways preciate your
              feed back</h4>
            <p class="text-muted">Thank you for using Destination</p>
          </div>
          <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid"
              alt="" />
          </div>
        </div>
      </div>
      <!-- services -->
      <!-- about us -->
      <section class="our-webcoderskull padding-lg" id="about-us">
        <div class="container">
          <div class="row heading heading-icon">
            <h2>Our Team</h2>
          </div>
          <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3><a href="http://www.webcoderskull.com/">Chris</a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
                <h3><a href="#">Peter </a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="https://i.ibb.co/xjL8nBY/female-digital-art.jpg" class="img-responsive" alt="">
                </figure>
                <h3><a href="http://www.webcoderskull.com/">Judith Whitney </a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3><a href="http://www.webcoderskull.com/">Michael </a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="https://i.ibb.co/xjL8nBY/female-digital-art.jpg" class="img-responsive" alt="">
                </figure>
                <h3><a href="http://www.webcoderskull.com/">Samatha </a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- contact -->
      <div class="container contact-form" id="the-contact-form">
        <div class="contact-image">
          <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
        </div>
        <form method="post">
          <h3>Drop Us a Message</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
              </div>
              <div class="form-group">
                <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
              </div>
              <div class="form-group">
                <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                  style="width: 100%; height: 150px;"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>


      <!-- footer -->
      <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
        <footer>
          <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
              <div class="row ">
                <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                  <h3 class="text-muted mb-md-0 mb-5 bold-text">Destination.</h3>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                  <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                  <ul class="list-unstyled">
                    <li>Home</li>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Portfolio</li>
                  </ul>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                  <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                  <p class="mb-1">605, RATAN ICON BUILDING</p>
                  <p>SEAWOODS SECTOR</p>
                </div>
              </div>
              <div class="row ">
                <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                  <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram"
                        aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Destination All
                    Rights Reserved.</small>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                  <h6 class="mt-55 mt-2 text-muted bold-text"><b>ANIRUDH SINGLA</b></h6><small> <span><i
                        class="fa fa-envelope" aria-hidden="true"></i></span> anirudh@gmail.com</small>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                  <h6 class="text-muted bold-text"><b>RISHABH SHEKHAR</b></h6><small><span><i class="fa fa-envelope"
                        aria-hidden="true"></i></span> rishab@gmail.com</small>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>


    <script>
      function getInfo() {
        var email = document.getElementById('email-name').value
        var password = document.getElementById('password-name').value
        var login = document.getElementById('login')

        if (email === 'admin' && password === 'admin') {
          login.href = "admin.html";
          console.log("ha")
        } else {
          login.href = "userPage1.html"
        }

      }
    </script>
</body>

</html>